doctype
html
    head
        style
            include style.css
    body
        div.main
          block content
        div
            | Visit our website if you are interested in learning more about product type.
            br
            a(href= 'https://scentcircle.nl/') Click here!
            br
        div.footer
            p Best regards,
            |Ellen