extends container
block content
    p Hi, #{userName}!
    h4 Forgot your password?
    p
        | Here you will find instructions on how to reset your password.
    a(href=forgotPasswordUrl) Click here!